<html>
<head>
<title>Wake me up before you GO GO!</title>
</head>
<body>
	<h2>
		Mogelijke calls:
	</h2>
	<ul>
		<li>GET <a href="/article">/article</a> (Alle artikelen)</li>
		<li>GET <a href="/article/6">/article/6</a> (1 artikel met id [1..n])</li>
		<li>POST <a href="/comment">/comment</a> (Maak een comment aan POST waarden: post_id, name, email en content)</li>
		<li>GET <a href="/log">/log</a> (Laat de log zien)</li>
		<li>DELETE <a href="/log">/log</a> (Leeg de log)</li>
	</ul>
	<p>Om POST en DELETE te testen kun je dus best een browser REST plugin downloaden.</p>
	<h2>
		Webservice is gemaakt in:
	</h2>
	<iframe class="youtube-player" type="text/html" width="640"
		height="385" frameborder="0"
		src="http://www.youtube.com/embed/pIgZ7gMze7A"></iframe>
</body>
</html>